[submodule "m4"]
	path = m4
	url = https://github.com/InnovAnon-Inc/m4-common.git
[submodule "restart"]
	path = restart
	url = https://github.com/InnovAnon-Inc/restart.git
[submodule "ezfork"]
	path = ezfork
	url = https://github.com/InnovAnon-Inc/ezfork.git
[submodule "glitter"]
	path = glitter
	url = https://github.com/InnovAnon-Inc/glitter.git
[submodule "MultiMalloc"]
	path = MultiMalloc
	url = https://github.com/InnovAnon-Inc/MultiMalloc.git
